{% extends "base.html" %}

{% block body -%}
{% include "partials/icons.html" %}
<a class="gh-ribbon gray right" href="https://github.com/aiven/devportal" target="_blank">Fork me on GitHub!</a>

<input type="checkbox" class="sidebar-toggle" name="__navigation" id="__navigation">
<input type="checkbox" class="sidebar-toggle" name="__toc" id="__toc">
<label class="overlay sidebar-overlay" for="__navigation"></label>
<label class="overlay toc-overlay" for="__toc"></label>

{% if theme_announcement -%}
<div class="announcement">
  <aside class="announcement-content">
    {% block announcement %} {{ theme_announcement }} {% endblock announcement %}
  </aside>
</div>
{%- endif %}

<div class="page">
  <header class="mobile-header">
    <div class="header-left">
      <label class="nav-overlay-icon" for="__navigation">
        <i class="icon"><svg><use href="#svg-menu"></use></svg></i>
      </label>
    </div>
    <div class="header-center">
      <a href="{{ pathto(master_doc) }}"><div class="brand"><div class="logo-container-mobile"></div></div></a>
    </div>
    <div class="header-right">
      <label class="toc-overlay-icon toc-header-icon{% if furo_hide_toc %} no-toc{% endif %}" for="__toc">
        <i class="icon"><svg><use href="#svg-toc"></use></svg></i>
      </label>
    </div>
  </header>
  <aside class="sidebar-drawer">
    <div class="sidebar-container">
      {% block left_sidebar %}
      <div class="sidebar-sticky">
        <a href="/">
          <div class="logo-container"></div>
        </a>

        {%- for sidebar_section in sidebars %}
          {%- include sidebar_section %}
        {%- endfor %}
      </div>
      {% endblock left_sidebar %}
    </div>
  </aside>
  <main class="main">
    <div class="content">
      <article role="main">
        <label class="toc-overlay-icon toc-content-icon{% if furo_hide_toc %} no-toc{% endif %}" for="__toc">
          <i class="icon"><svg><use href="#svg-toc"></use></svg></i>
        </label>
        {% block content %}{{ body }}{% endblock %}
      </article>
      <footer>
        {% include "feedback-form.html" %}

        {% block footer %}

        <div class="related-information">
          {%- if show_copyright %}
            {%- if hasdoc('copyright') %}
              {% trans path=pathto('copyright'), copyright=copyright|e -%}
                <a href="{{ path }}">Copyright</a> &#169; {{ copyright }}.
              {%- endtrans %}
            {%- else %}
              {% trans copyright=copyright|e -%}
                Copyright &#169; {{ copyright }}
              {%- endtrans %}
            {%- endif %}
          {%- endif %}
          {%- if show_source and has_source and sourcename %}
            |
            <a class="muted-link" href="{{ pathto('_sources/' + sourcename, true)|e }}"
               rel="nofollow">
              {{ _('Show Source') }}
            </a>
          {%- endif %}
          {%- if gitstamp %}
            |
            Last updated: {{ gitstamp }}
          {%- endif %}
        </div>
        {% endblock footer %}
      </footer>
    </div>
    <aside class="toc-drawer{% if furo_hide_toc %} no-toc{% endif %}">
      {% block right_sidebar %}
      {% if not furo_hide_toc %}
      <div class="toc-sticky toc-scroll">
        <div class="toc-title-container">
          <span class="toc-title">
            {{ _("Contents") }}
          </span>
        </div>
        <div class="toc-tree-container">
          <div class="toc-tree">
            {{ toc }}
          </div>
        </div>
      </div>
      {% endif %}
      {% endblock right_sidebar %}
    </aside>
  </main>
</div>
{%- endblock %}
