{% extends "page.html" %} {% block htmltitle -%}
<title>Search Results - {{ docstitle|striptags|e }}</title>
{% endblock %} {% block content -%}
<style>
  .search .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .search .context {
    word-wrap: break-word;
  }

  .search .description {
    margin: 5px 0;
    font-style: italic;
  }

  .search .chip {
    background-color: #dadada;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 10px;
    color: #4a4b57;
    text-transform: uppercase;
  }

  #search-results .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  #search-results .pagination a {
    padding: 10px;
    text-decoration: none;
  }

  #search-results .pagination a:hover {
    color: var(--linkActive) !important;
    background-color: #e9ecef;
    border-radius: 5px;
  }

  #search-results .pagination .active a {
    color: var(--linkActive) !important;
    background-color: #e9ecef;
    border-radius: 5px;
    text-decoration: none;
  }
</style>

<div id="search-results">
  <h2>Search Results</h2>
  <p class="search-summary"></p>
  <ul class="search"></ul>
  <ul class="pagination"></ul>
</div>
{% endblock %} {% block scripts -%} {{ super() }}
<script>
  function formatResultContent(result, fieldName) {
    let highlight = result.highlight[fieldName];

    if (highlight) {
      highlight = highlight.join("... ");

      if (fieldName === "content") {
        highlight += "...";
      }

      return highlight;
    }

    var summary = result.source[fieldName].substring(0, 250);
    if (summary.length < result.source[fieldName].length) {
      summary += "...";
    }
    return summary;
  }

  window.addEventListener("load", function () {
    var urlParams = new URLSearchParams(window.location.search);
    var query = urlParams.get("q");
    var page = urlParams.get("page");

    $("input.sidebar-search").attr("value", query);

    var searchSummary = $("#search-results .search-summary");
    var searchResults = $("#search-results .search");
    var pagination = $("#search-results .pagination");

    $.get("https://xu1qi0xzua.execute-api.eu-north-1.amazonaws.com/Prod/search?" + $.param({
        query: query,
        page: page
      }))
      .done(function (data) {
        if (data.resultCount === 0) {
          searchSummary.html("Your search did not match any documents.");
        } else {
          searchSummary.html(
            "Search finished, found " +
            data.resultCount +
            " page(s) matching the search query."
          );
        }

        for (var i = 0; i < data.results.length; i++) {
          var result = data.results[i];

          var container = $("<li/>");

          var titleContainer = $("<div/>");
          titleContainer.addClass("title-container");
          container.append(titleContainer);

          var link = $("<a/>");
          link.attr("href", result.source.url);
          link.html(formatResultContent(result, "title"));
          titleContainer.append(link);

          if (result.source.source === "helpcenter") {
            var chip = $("<span/>");
            chip.text("Help Center");
            chip.addClass("chip");
            titleContainer.append(chip);
          }

          if (result.source.description) {
            var description = $("<div/>");
            description.addClass("description");
            description.html(formatResultContent(result, "description"));
            container.append(description);
          }

          var context = $("<div/>");
          context.addClass("context");
          context.html(formatResultContent(result, "content"));
          container.append(context);

          searchResults.append(container);
        }

        if (data.resultCount !== 0 && data.currentPage > 1) {
          const pageParams = new URLSearchParams({
            q: query,
            page: data.currentPage - 1,
          });

          var pageContainer = $("<li/>");

          var pageLink = $("<a/>");
          pageLink.attr("href", "/search.html?" + pageParams.toString());
          pageContainer.append(pageLink);
          pageLink.text("Previous");

          pagination.append(pageContainer);
        }

        for (var i = 1; i <= data.pageCount; i++) {
          const pageParams = new URLSearchParams({
            q: query,
            page: i,
          });

          var pageContainer = $("<li/>");

          if (data.currentPage === i) {
            pageContainer.addClass("active");
          }

          var pageLink = $("<a/>");
          pageLink.attr("href", "/search.html?" + pageParams.toString());
          pageContainer.append(pageLink);
          pageLink.text(i);

          pagination.append(pageContainer);
        }

        if (data.resultCount !== 0 && data.currentPage < data.pageCount) {
          const pageParams = new URLSearchParams({
            q: query,
            page: data.currentPage + 1,
          });

          var pageContainer = $("<li/>");

          var pageLink = $("<a/>");
          pageLink.attr("href", "/search.html?" + pageParams.toString());
          pageContainer.append(pageLink);
          pageLink.text("Next");

          pagination.append(pageContainer);
        }
      })
      .fail(function (e) {
        console.error(e);
        searchSummary.html(
          "Could not get search results. Please try again later."
        );
      });
  });
</script>

{%- endblock %}
