/* Assigning color variables */
:root {
  --white: #ffffff;
  --linearPurple: #80688e;
  --linearDarkBlue: #4f586a;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(../fonts/Inter-Medium.ttf);
}


.sidebar-drawer {
  border-right: none;
}

h1,
h2,
h3 {
  color: var(--color-foreground-primary);
  font-family: InterBold;
}

p {
  color: var(--color-content-foreground);
  font-family: Inter;
}

a {
  color: var(--color-link);
  text-decoration-color: var(--color-link);
  font-family: Inter;
}


.gh-ribbon {
  font-family: Helvetica, Arial, sans-serif;
  width: 600px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  padding: 10px;
  text-decoration: none;
  position: fixed;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1000;
  margin-top: 35px;
}

.gh-ribbon:after {
  content: '';
  position: relative;
  display: block;
  top: 8px;
  left: 0;
  width: 600px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
}

.gh-ribbon:before {
  content: '';
  position: relative;
  display: block;
  bottom: 8px;
  left: 0;
  width: 600px;
  border: 1px dashed rgba(255, 255, 255, 0.4);
}

.gh-ribbon.right {
  top: 15px;
  right: -285px;
  transform: rotate(50deg) translateY(100%);
}

.gh-ribbon.gray {
  background-color: var(--color-background-primary);
  color: var(--primaryColor);
}

.sign-up-banner {
  font-family: Inter;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  color: var(--white);
  padding: 10px;
  text-decoration: none;
  position: fixed;
  z-index: 1001;
  background-image: linear-gradient(
    45deg,
    var(--linearPurple),
    var(--linearDarkBlue)
  );
}

.get-started-link {
  font-weight: bold;
  margin-left: 20px;
  text-decoration: none !important;
  color: var(--white) !important;
}

.get-started-link:hover {
  color: var(--white) !important;
}

.sidebar-tree .current-page > .reference {
  font-weight: 400;
}

.sidebar-brand-text {
  display: none !important;
}

.sidebar-tree label:hover {
  background: none;
}

.sidebar-tree .reference {
  border-left: 1px solid transparent;
}

.sidebar-tree label {
  background: none !important;
}

.sidebar-tree .reference:hover {
  background: none;
  border-left: 1px solid var(--linkActive);
  font-family: Inter;
}

.sidebar-tree .current-page > .reference {
  background: none !important;
  border-left: 1px solid var(--linkActive);
  color: var(--linkActive) !important;
  font-weight: 400 !important;
}

.sidebar-tree .current > .reference {
  background: none !important;
}

.sidebar-tree .current-page > .reference:hover {
  background: none !important;
}

.sidebar-tree .toctree-l1 > .reference,
.sidebar-tree .toctree-l1 > label .icon {
  color: var(--link);
}

.sidebar-tree .toctree-l1 > .reference,
.sidebar-tree .toctree-l1 > label .icon:hover {
  color: var(--linkActive);
}

.sidebar-tree .toctree-l2 > .reference,
.sidebar-tree .toctree-l2 > label .icon {
  color: var(--link);
}

.sidebar-tree .toctree-l2 > label .icon:hover {
  color: var(--linkActive);
}

.sidebar-search-container {
  background-color: var(--infoBg);
  width: 90%;
  margin: 0px auto;
  border-radius: 5px;
}

.sidebar-search-container:hover {
  background-color: var(--infoBg);
}

.sidebar-search {
  border-radius: 5px;
  border: 1px solid var(--color-foreground-border);
  color: var(--color-foreground-secondary);
}

.sidebar-search:hover,
.sidebar-search:active,
.sidebar-search:focus {
  background-color: var(--infoBg);
}

.sidebar-search-container::before {
  z-index: 99;
}

.card {
  background-color: var(--infoBg);
}

.card-footer > .card-text > .btn {
  color: var(--color-content-foreground);
  border: 1px solid var(--color-content-foreground);
  border-radius: 5px;
  text-decoration: none;
  float: right;
}

.card-footer > .card-text > .btn:hover {
  border: 1px solid var(--color-link);
  color: var(--color-link);
}

.notranslate > .highlight {
  background: var(--color-highlighted-background) !important;
  color: var(--white);
}

.highlight-json > .highlight {
  background: var(--color-highlighted-background) !important;
  color: var(--white);
}

code.literal {
  background-color: var(--color-background-secondary);
}

h1 > code > .pre {
  font-weight: 700 !important;
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-primary);
}

h2 > code > .pre {
  font-weight: 700 !important;
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-primary);
}

h3 > code > .pre {
  font-weight: 700 !important;
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-primary);
}

.pre {
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-secondary);
}

.related-information {
  color: var(--color-foreground-secondary) !important;
  border-top: 1px solid var(--color-foreground-border) !important;
  padding: 5px;
}

.context {
  color: var(--color-foreground-secondary);
}

.mobile-header {
  background-color: var(--color-background-primary) !important;
  margin-top: 15px;
  z-index: 999;
}

@media (max-width: 67em) {
  .mobile-header {
    position: -webkit-sticky;
    position: sticky;
    top: 30px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.card-footer {
  background-color: unset !important;
  border-top: unset !important;
  padding: 0.75rem 1.25rem;
}

.toctree-wrapper > ul > li.toctree-l1 {
  list-style: none !important;
  margin: 12px;
  font-weight: bold;
  font-size: 18px;
}

.toctree-wrapper > ul > .toctree-l1 > ul > .toctree-l2,
.toctree-wrapper > ul > .toctree-l1 > ul > .toctree-l2 > ul > .toctree-l3 {
  list-style: none !important;
  font-size: 16px;
  font-weight: 300;
}

.toctree-wrapper > ul > .toctree-l1 > a.reference:hover,
.toctree-wrapper > ul > .toctree-l1 > ul > .toctree-l2 > a.reference:hover {
  color: var(--linkActive);
  text-decoration-color: var(--linkActive) !important;
}

.toctree-l1 > a > span.badge,
.toctree-l1 >  ul > .toctree-l2 > span.badge {
  vertical-align: top;
}

.disclaimer > p {
    color: var(--color-foreground-muted)
}


.logo-container-mobile {
  height: 40px;
  width: 120px;
  padding: 15px;
}

.sidebar-logo {
  padding-top: 5px;
}
