/* Assigning color variables */
:root {
  --white: #ffffff;
  --topnavbar-height: 76px;
  --topnavbar-mobile-height: 60px;
}

@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(../fonts/Inter-Bold.ttf);
}

@font-face {
  font-family: InterMedium;
  src: url(../fonts/Inter-Medium.ttf);
}

.sidebar-drawer {
  border-right: none;
}

h1,
h2,
h3 {
  color: var(--color-foreground-primary);
  font-family: InterBold;
}

p {
  color: var(--color-content-foreground);
  font-family: Inter;
}

a {
  color: var(--color-link);
  text-decoration-color: var(--color-link);
  font-family: Inter;
}

.page {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
}

.topnavbar-common {
  display: block;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1001;
  box-sizing: border-box;
  background: var(--color-topnav-background);
  border-bottom: 1px solid var(--color-topnav-border);
}

.mobile-topnavbar {
  display: none;
}

.topnavbar {
  height: 76px;
}

.topnavbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  gap: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.topnavbar-left {
  display: flex;
  gap: inherit;
  align-items: inherit;
}

.topnavbar-center {
  display: flex;
  gap: inherit;
  align-items: inherit;
}

.topnavbar-right {
  display: flex;
  gap: inherit;
  align-items: inherit;
}

.topnavbar-logo {
  width: 140px;
}

.topnavbar-button-primary {
  color: var(--color-topnav-button-primary);
  background: var(--color-topnav-button-primary-background);
}

.topnavbar-button-primary:hover {
  color: var(--color-topnav-button-primary-hover);
  background: var(--color-topnav-button-primary-hover-background);
}

.topnavbar-button-secondary {
  color: var(--color-topnav-button-secondary);
  border-color: var(--color-topnav-button-secondary-border);
  background: transparent;
}

.topnavbar-button-secondary:hover {
  color: var(--color-topnav-button-secondary-hover);
  border-color: var(--color-topnav-button-secondary-hover-border);
  background: var(--color-topnav-button-secondary-hover-background);
}

.topnavbar-button-large {
  width: 100%;
  max-width: max-content;
  padding: 8px 24px;
  border: 1px solid;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none !important;
}

.topnavbar-button-large:hover {
  text-decoration: none !important;
}

.topnavbar-link {
  color: var(--color-topnav-link);
  text-decoration: none;
}

.topnavbar-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-topnav-link);
}

.topnavbar-theme-toggle {
  display: flex;
  justify-content: center;
  line-height: 100%;
  min-width: 44px;
  max-width: 44px;
  height: 44px;
}

.topnavbar-theme-toggle:hover {
  background: var(--color-topnav-theme-toggle-border);
  border-radius: 100px;
}

.topnavbar-theme-toggle .theme-toggle svg {
  height: 22px;
  width: 22px;
}

.mobile-sidebar-header {
  display: none;
}

.mobile-sidebar-header-logo {
  width: 100px;
}

.mobile-sidebar-search {
  display: none;
}

.mobile-sidebar-actions {
  display: none;
}

.sidebar-sticky {
  height: calc(100vh - var(--topnavbar-height));
  top: var(--topnavbar-height);
}

.sidebar-tree .current-page > .reference {
  font-weight: 400;
}

.sidebar-tree label:hover {
  background: none;
}

.sidebar-tree .reference {
  background: none;
  font-family: Inter;
  color: var(--color-sidebar-link-text);
  border-left: 1px solid transparent;
}

.sidebar-tree label {
  background: none !important;
}

.sidebar-tree .reference:hover {
  background: none;
  border-left: 1px solid var(--color-link);
  font-family: Inter;
  color: var(--color-link);
}

.sidebar-tree .current-page > .reference {
  background: none !important;
  border-left: 1px solid var(--color-link);
  color: var(--color-link) !important;
  font-weight: 400 !important;
}

.sidebar-tree .current > .reference {
  background: none !important;
}

.sidebar-tree .current-page > .reference:hover {
  background: none !important;
}

.sidebar-tree > .reference,
.sidebar-tree > label .icon {
  color: var(--color-link);
}

.sidebar-tree > .reference,
.sidebar-tree > label .icon:hover {
  color: var(--linkActive);
}

.sidebar-search-container {
  background: var(--color-search-background);
  width: 90%;
  margin: 0px auto;
  box-sizing: border-box;
}

.sidebar-search {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  padding: 8px auto;
  background: var(--color-search-background);
  border: 1px solid;
  border-color: var(--color-search-border);
  border-radius: 4px;

  color: var(--color-search);
  cursor: pointer;
}

.sidebar-search:active,
.sidebar-search:focus {
  color: var(--color-search-focused);
  border-color: var(--color-search-border-focused);
  outline: 2px solid var(--color-search-container-outline-focused);
}

.sidebar-search-container::before {
  z-index: 99;
}

.card {
  background-color: var(--infoBg);
}

.card-footer > .card-text > .btn {
  color: var(--color-content-foreground);
  border: 1px solid var(--color-content-foreground);
  border-radius: 5px;
  text-decoration: none;
  float: right;
}

.card-footer > .card-text > .btn:hover {
  border: 1px solid var(--color-link);
  color: var(--color-link);
}

.notranslate > .highlight {
  background: var(--color-highlighted-background) !important;
  color: var(--white);
}

.highlight-json > .highlight {
  background: var(--color-highlighted-background) !important;
  color: var(--white);
}

code.literal {
  background-color: var(--color-background-secondary);
}

h1 > code > .pre {
  font-weight: 700 !important;
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-primary);
}

h2 > code > .pre {
  font-weight: 700 !important;
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-primary);
}

h3 > code > .pre {
  font-weight: 700 !important;
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-primary);
}

.pre {
  background-color: var(--color-background-secondary);
  color: var(--color-foreground-primary);
}

.related-information {
  color: var(--color-foreground-secondary) !important;
  border-top: 1px solid var(--color-foreground-border) !important;
  padding: 5px;
}

.context {
  color: var(--color-foreground-secondary);
}

.card-footer {
  background-color: unset !important;
  border-top: unset !important;
  padding: 0.75rem 1.25rem;
}

.toc-sticky {
  height: calc(100vh - var(--topnavbar-height));
  top: var(--topnavbar-height) !important;
}

.toctree-wrapper .reference {
  font-family: Inter;
  color: var(--color-sidebar-link-text);
  text-decoration-color: var(--color-sidebar-link-text);
}

.toctree-wrapper .reference:hover {
  color: var(--color-link);
  text-decoration-color: var(--color-link);
}

.toctree-wrapper > ul > li.toctree-l1 {
  list-style: none !important;
  margin: 12px;
  font-weight: bold;
  font-size: 18px;
}

.toctree-wrapper > ul > .toctree-l1 > ul > .toctree-l2,
.toctree-wrapper > ul > .toctree-l1 > ul > .toctree-l2 > ul > .toctree-l3 {
  list-style: none !important;
  font-size: 16px;
  font-weight: 300;
}

.toctree-l1 > a > span.badge,
.toctree-l1 > ul > .toctree-l2 > span.badge {
  vertical-align: top;
}

.disclaimer > p {
  color: var(--color-foreground-muted);
}

@media screen and (max-width: 67em) {
  .page {
    height: 100%;
  }

  .main-wrapper {
    height: calc(100% - var(--topnavbar-mobile-height));
  }

  .mobile-topnavbar {
    height: var(--topnavbar-mobile-height);
    display: block;
  }

  .mobile-sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--sidebar-item-spacing-vertical)
      var(--sidebar-item-spacing-horizontal);
  }

  .mobile-sidebar-search {
    display: initial;
  }

  .mobile-sidebar-actions {
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-item-spacing-vertical);
    padding: var(--sidebar-item-spacing-vertical)
      var(--sidebar-item-spacing-horizontal);
  }

  .mobile-sidebar-actions .topnavbar-button-large {
    display: flex;
    justify-content: center;
    max-width: inherit;
    width: inherit;
  }

  .mobile-sidebar-actions .topnavbar-link {
    margin-bottom: var(--sidebar-item-spacing-vertical);
    margin-top: var(--sidebar-item-spacing-vertical);
  }

  .topnavbar {
    display: none !important;
  }

  .topnavbar-content {
    padding: 8px 16px;
  }

  .topnavbar-logo {
    width: 120px;
  }
}
